ac-comphist.dat
auto-save-list
bookmarks
tramp
custom.el
projectile-bookmarks.eld
frame-restore-parameters

init-local.el

.DS_Store
.emacs.desktop
.emacs.desktop.lock
.session

backup/*
packages/*
eshell/*
url/*
DouBanMusic/*
HyperSpec-7-0/*