ac-comphist.dat
auto-save-list
bookmarks
tramp
custom.el
projectile-bookmarks.eld

init-local.el
init-gnus.el

.DS_Store
.emacs.desktop
.emacs.desktop.lock
.session

backup/*
elpa/*
eshell/*
url/*
DouBanMusic/*